.container {
  font-family: "Inter";
  max-width: 1700px;
  height: 100vh;
  margin: 0 auto;
}

.bogemeContainer {
  background-image: url("https://phonoteka.org/uploads/posts/2022-09/1663726551_1-phonoteka-org-p-oboi-na-telefon-khram-pinterest-2.jpg");
  color: #fff;
  font-family: England Hand DB;
}
