@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter/inter.css");
@import url("./vendor/fonts/Bogeme/stylesheet.css");

body {
  max-width: 1700px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-color: #f0ede5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
